@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  20% {
    transform: translateY(-80%);
  }

  90% {
    transform: translateY(20%);
  }

  100% {
    transform: translateY(0%);
  }
}

.root {
  display: block;
  position: relative;
  width: 380px;
  background-color: #ffffff;
  border: solid 5px #e1e1e1;
  padding: 10px 20px;
  animation: bounce 0.6s;
}

.title {
  line-height: 40px;
  color: var(--blue, blue);
  font-size: 33px;
  text-align: center;
  font-weight: 700;
  margin: 6px 0 0;
}

.text {
  color: #505055;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  font-weight: 400;
  margin: 22px 0 10px;
}
.form {
  min-height: 162px;
}
.inputs {
  padding: 0;
  margin: 0;
  margin-top: 20px;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 200px;
}

.close {
  position: absolute;
  top: 5px;
  right: 5px;
}

.button {
  margin-top: 30px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
