.root {
  line-height: 22px;
  color: #ffffff;
  font-size: 18px;
  background-color: #00a3d0;
  display: block;
  font-weight: 300;
  width: 100%;
  letter-spacing: -1px;
  position: absolute;
  border-bottom: solid 3px #ffffff;
}

.fixed {
  position: fixed;
  top: 0;
  z-index: 50;
}

.inner {
  width: 960px;
  margin: 0 auto;
}

.textHidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.list {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.item {
  display: block;
}

.item a {
  padding: 0;
  margin: 0;
  color: inherit;
  font-size: inherit;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
  display: block;
  outline-color: #002dd0;
  cursor: pointer;
}

.item a:hover {
  position: relative;
  top: 1px;
}

.item a:active {
  position: relative;
  color: #d4d4d4;
  top: 1px;
}
