.root {
  display: flex;
  justify-content: center;
}

.text {
  letter-spacing: 2px;
  color: #000000;
  font-size: 30px;
  line-height: 53px;
  font-family: open-sans, sans-serif;
  font-weight: 700;
}

.list {
  display: flex;
}

.item {
  list-style: none;
  margin: 0 10px;
  position: relative;
}

.item a {
  display: block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-image: url("./img/spritesheet.png");
  border-radius: 5px;
}
.fb a {
  background-position: -300px -57px;
}

.vk a {
  background-position: -284px -323px;
}

.ok a {
  background-position: -327px -225px;
}

.insta a {
  background-position: -11px -181px;
}

.item:hover a {
  transform: scale(1.1);
}

.item:active a {
  transform: scale(1.1) translateY(2px);
}

.hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
