.root {
  display: block;

  text-decoration: none;

  text-align: center;
  font-family: inherit;
  margin: 21px auto 18px;
  height: 60px;
  border-radius: 100px;
  border: solid 3px white;
  width: 365px;
  background: linear-gradient(to top, #f49b1f, #fbe721);
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 19px;
  outline-color: blue;
}

.root:hover {
  background: linear-gradient(to top, #fbe721, #fbe721);
}

.root:active {
  background: linear-gradient(to top, #f49b1f, #f49b1f);
}
