.root {
  width: 960px;
  margin: 0 auto;
}

.title {
  line-height: 58px;
  color: var(--yellow, yellow);
  font-size: 48px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.tel {
  text-align: center;
  margin-top: 38px;
  margin-bottom: 0;
}
.tel a {
  font-size: 30px;
  line-height: 41px;
  color: #000000;
  text-decoration: none;
  font-weight: 300;
}

.tel span {
  font-size: 24px;
  line-height: 41px;
  color: #000000;
  text-decoration: none;
  font-weight: 300;
}

.mail {
  text-align: center;
  margin-top: 7px;
}
.mail a {
  font-size: 30px;
  line-height: 41px;
  color: #000000;
  text-decoration: none;
  font-weight: 300;
}

.mail span {
  font-size: 24px;
  line-height: 41px;
  color: #000000;
  text-decoration: none;
  font-weight: 300;
}
