:root {
  --whitebase: #ffffff;

  --blue: #00a9d9;

  --yellow: #ffed00;

  --red: #d22856;
}

body,
html {
  margin: 0;
  font-family: "Open Sans", "Gilroy", "Arial", sans-serif;
  font-size: 14px;
  line-height: 30px;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  font-weight: normal;
}
